# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Documentos\FATEC\3-Semestre\Estruturas de Dados - FABIO PEREIRA DA SILVA\Material\Aula_2_18_02_2021\ListaEstatica\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
